timeout-*
slow-unit-*
timeout-*
slow-unit-*
fuzz-*.log
xcuserdata
crash-*
DerivedData
.deriveddata
.build
.DS_Store
*~
esctest/


# NOVA: ignore this
Package.resolved
build
.swiftpm/xcode/xcshareddata/xcschemes/